<div class="container main-container">

    <h1>Filmes</h1>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th>Nome</th>
                <th>Data Lançamento</th>
                <th>Valor</th>
                <th>Tamanho Arquivo</th>
            </tr>
        </thead>
        
        <tbody>
            <tr *ngFor='let filme of filmes'>
                <td>
                    <img 
                    [src]="filme.imagem | imageformater:'default':true" style="max-width: 80px;"/>
                </td>
                <td>{{ filme.nome | titlecase }}</td>
                <td>{{ filme.dataLancamento | date:"dd/MM/yyyy" }}</td>
                <td>{{ filme.valor | currency:'BRL':'symbol':'1.2-2':'pt'}}</td>
                <td>{{ filme.tamanho | filesize }}</td>
            </tr>
        </tbody>
    </table>

</div>